.idea/*
target/*
project/target/*
project/project/target/*
core/target/*
streaming-data-model/target/*
streaming-core/target/*
streaming-app/target/*
file-merger-app/target/*
file-merger-core/target/*
